.venv/
venv/
env/
ENV/

# Python Cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Development Scripts
dev.sh
clean.sh

# Editor Configurations
.vscode
.devcontainer
.editorconfig
.prettierignore
.prettierrc.yml

# System Files
.DS_Store
**/._*

# Checkpoints
**/.ipynb_checkpoints
.ipynb_checkpoints

# Bash History
**/.dir_bash_history
.dir_bash_history

# Temporary or Working Files
*workig.py
**/*workig.py

# Build and Distribution Artifacts (Crucial for releasing!)
build/
dist/
*.egg-info/
*.egg
*.egg-info/
**/*.egg-info/
build.sh

# Swarm Specific
sbatch_arrays/

# Testing
.pytest_cache/
.coverage
htmlcov/